<html>
<head>
<head>
<body>
{% if user.is_authenticated %}
{% if diff.is_student %}
<h1>hello {{ user.username }}! , STUDENT</h1>
<a href = "student_details.html" >View Details</a>
    <br/>
    <a href = "swap_req/">Request a room swap</a>
    <br/>
    <a href = "change_req/">Request a room change</a>
    <br/>
    <a href = "swap_ack/">Acknowledge a swap room request</a>
{% else %}
<h1>hello {{diff.user}}! , ADMIN </h1>
    <a href = "allocate/">Allocate room to a student</a>
    <br />
    <a href="change/">Change a Student's room</a>
    <br />
    <a href="swap/">Swap a student's room</a>
    <br />
{% endif %}
{% else %}
<h1>hello world!</h1>
{% endif %}
</body>
</html>
