<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allocating A Student</title>
</head>
<body>
<h1>Allocate!</h1>

        <form id="allocate_form" method="post" action="/hostel/allocate/">
            {% csrf_token %}
            Roll_no: <input type="text" name="roll_no" value="" size="50" />
            <br />
            Room_no: <input type="number" name="room_no" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
</body>
</html>