<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acknowledge a swap</title>
</head>
<body>
{% if not request == None %}
<form id="swap_ack" method="post" action="/hostel/swap_ack/">
            {% csrf_token %}
        <p>{{ request.student1.roll_no.username }} wants to swap rooms with you</p>
        <p> <b>REASON:</b> {{ req.reason }}</p>
        <input type="submit" value="accept" name="_accept">
        <input type="submit" value="decline" name="_decline">
        <br />
{% endif %}

 </form>

</body>
</html>